@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
}

*{
  font-family: 'Raleway';
}

.font-raleway{
  font-family: 'Raleway' !important;
}


